
body {
  background-image: url("/public/images/Background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.flex-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: antiquewhite;
  color: white;
  opacity: 60%;
}

.footer-container {
  position: absolute;
  bottom: 0;
  background-color: antiquewhite;
  width: 100%;
  opacity: 60%;
}

.nav-text {
  color: black;
}

img {
  max-width: 400px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.product-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.card {
  background-color: red;
}